<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/Static/entry-style.css">
   <title>Task Maker - Entry Page</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Task Maker</h1>
            <p>Your Task Management App</p>
        </header>
        <main>
            <a class="connect-button" href="{{ url_for('login') }}">Connect</a>
        </main>
    </div>
</body>
</html>

