<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/Static/index-style.css">
   <title>Task Maker - Home</title>
</head>
<body>
   <header>
      <nav>
         <div class="menu-icon" id="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
         </div>
         <ul class="menu" id="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
            <li><a href="#">Page 4</a></li>
         </ul>
      </nav>
      <div class="account">
         <div class="account-info">
            <p>Welcome, <span>{{ name }}</span>!</p>
         </div>
         <div class="account-actions">
            <a href="{{ url_for('logout') }}" class="btn-logout">Logout</a>
            <a href="#" class="btn-settings">Settings</a>
         </div>
      </div>
   </header>
   <div class="container">
      <h1>Task Maker</h1>
      <p class="description">Organize Your Tasks with Ease</p>
   </div>
   <section class="email-section">
      <h2>Emails</h2>
      <ul>
          {% for email in emails %}
              <li>
                  <strong>From:</strong> {{ email.sender }}<br>
                  <strong>Subject:</strong> {{ email.subject }}<br>
                  <strong>Timestamp:</strong> {{ email.timestamp }}<br>
                  <p>{{ email.body }}</p>
              </li>
          {% endfor %}
      </ul>
  </section>
</body>
</html>
